.dashboard-layout {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(100px, 360px);
  grid-template-areas: "main sidebar";
  grid-gap: 1rem;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .dashboard-layout {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "main" "sidebar";
  }
}

.dashboard-main {
  grid-area: main;
}

.dashboard-sidebar {
  grid-area: sidebar;
}
