@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body.page-layout {
  height: 100dvh;
  background: #010101;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6dvh 1fr 5dvh;
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .btn {
    @apply flex gap-2 items-center justify-center rounded-lg py-2 px-4 border border-white/10 hover:bg-white/5 transition-all duration-200;
  }

  .cheese-btn {
    box-shadow: inset 0px -2px 4px 0px #ffdd40a1;
    @apply font-rowdies flex gap-2 items-center justify-center rounded-lg text-xl py-2 px-4 border-t-2 border-[#ffdd40a1] bg-brand-yellow text-yellow-950 hover:bg-yellow-400 transition-all duration-200;
  }

  .connect-btn {
    @apply font-rowdies flex gap-2 items-center justify-center rounded-lg text-xl py-2 px-4 border-t-2 border-[#ffdd40a1] bg-brand-yellow text-yellow-950 hover:bg-yellow-400 transition-all duration-200;
  }
}
