@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body.page-layout {
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 4dvh 5dvh 1fr 5dvh;
  grid-template-areas:
    "sidebar header"
    "sidebar topbar"
    "sidebar main"
    "footer footer";
  overflow: hidden;
}

body {
  @apply antialiased h-dvh bg-gray-background text-white;
}

.page-layout .sidebar {
  grid-area: sidebar;
}

.page-layout .header {
  grid-area: header;
}

.page-layout .main {
  grid-area: main;
}

.page-layout .footer {
  grid-area: footer;
}

/* HOMEPAGE GLOBALS */

body.home-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6dvh 1fr;
  grid-template-areas:
    "header"
    "main";
  overflow: hidden;
}

.home-layout .header {
  grid-area: header;
}

.home-layout .home-main {
  grid-area: main;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .btn {
    @apply font-rowdies flex gap-2 items-center justify-center rounded-lg text-xl py-2 px-4 opacity-50 cursor-not-allowed;
  }

  .cheese-btn {
    box-shadow: inset 0px -2px 4px 0px #ffdd40a1;
    @apply font-rowdies flex gap-2 items-center justify-center rounded-lg text-xl py-2 px-4 border-t-2 border-[#ffdd40a1] bg-brand-yellow text-yellow-950 hover:bg-yellow-400 transition-all duration-200;
  }

  .cheese-common-btn {
    @apply font-rowdies flex gap-2 items-center justify-center rounded-xl text-xl py-2 px-4 border-t-2 border-[#768ba1] bg-[#a2b1c5] text-white hover:bg-[#7e8c9f] transition-all duration-200;
  }

  .cheese-rare-btn {
    @apply font-rowdies flex gap-2 items-center justify-center rounded-xl text-xl py-2 px-4 border-t-2 border-[#2e7ce8] bg-[#67a6fe] text-white hover:bg-[#5d96e6] transition-all duration-200;
  }

  .cheese-epic-btn {
    @apply font-rowdies flex gap-2 items-center justify-center rounded-xl text-xl py-2 px-4 border-t-2 border-[#9025d2] bg-[#ba50ff] text-white hover:bg-[#a949e9] transition-all duration-200;
  }

  .connect-btn {
    @apply font-rowdies flex gap-2 items-center justify-center rounded-xl text-xl py-2 px-4 border-t-2 border-[#ffdd40a1] bg-brand-yellow text-yellow-950 hover:bg-yellow-400 transition-all duration-200;
  }
}
