.marketplace-layout {
  display: grid;
  grid-template-columns: 1fr minmax(0px, 610px);
  grid-template-areas: "content product-info";
}

.marketplace-content {
  grid-area: content;
}

.product-info {
  grid-area: product-info;
}
